<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DSRC1.Properties.Settings.SSRC1ConnectionString" connectionString="Data Source=DESKTOP-COID5CI\SQLEXPRESS;Initial Catalog=SSRC1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
      
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=ACER\SQLEXPRESS;Initial Catalog=DSRCstock;integrated security=true" />
   
    
  </appSettings>
</configuration>